#share a {
  width: 30px;
  height: 30px;
  text-decoration: none;
}
 
#share a:hover {
  text-decoration: none;
  opacity: 0.5;
}

#share img {
  width: 30px;
  height: 30px;
}

/*like baloon css*/
p#like{
    text-align:-moz-center;
    font-size: .9em;
}
div#like{
    background: #fff;
    dispay: inline-block;
    position: relative;
    padding:3px;
    width: 40px;
    height: 30px;
    border: 1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
}
div#like:before {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-right-color: #000;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -9px;
}
div#like:after {
    content: "";
    display: inline-block;
    border: 9px solid transparent;
    border-right-color: #fff;
    position: absolute;
    left: -18px;
    top: 50%;
    margin-top: -8px;
}


/*unlike*/
p#unlike{
    text-align:-moz-center;
    font-size: .9em;
}
div#unlike{
    background: #fff;
    dispay: inline-block;
    position: relative;
    padding:3px;
    width: 40px;
    height: 30px;
    border: 1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
}
div#unlike:before {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-right-color: #000;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -9px;
}
div#unlike:after {
    content: "";
    display: inline-block;
    border: 9px solid transparent;
    border-right-color: #fff;
    position: absolute;
    left: -18px;
    top: 50%;
    margin-top: -8px;
}