{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load staticfiles %}
{% block content %}
    <style>
    th, td {
        padding: 15px;
    }
    </style>

    <div class="container sections-wrapper">
        <div class="row">            
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                {% if object_list %}
                {% for blog in object_list %}
                    <table id="blog-table" style="pading: 10px; background: white; width: 100%; border-style: none;">
                        <tr><td style="background: #54ba4e;border-style: none;"><h1 style="color: white">{{ blog.title }}</h1></td></tr>
                        <tr><td style="border-style: none;">{{ blog.body|markdown:"STYLE"|safe|escape|truncatechars:300 }}</td></tr>
                        <tr><td align="right" style="pading: 10px;border-style: none;"><a role="button" href="{% url 'blog_details' slug=blog.slug %}" style="color: blue;">View details 
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></td></tr>
                    </table>
                    <br>
                {% endfor %}
                {%else%}
                    <table id="blog-table" style="pading: 10px; background: white; width: 100%; border-style: none;">
                        <tr><td style="background: #54ba4e;border-style: none;"><h1 style="color: white">No Record</h1></td></tr>
                        <tr><td style="border-style: none;">There is no post about this genre.</td></tr>
                    </table>
                    <br>
                {%endif%}
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                <aside class="info aside section">
                    <div style="background: white; align = center; font-size: 16px" valign="middle">
                        <script type="text/javascript" src="{% static 'calendar/calendar.js'%}"></script>
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->

                <aside class="info aside section">
                    <div style="background: white; align = center; font-size: 16px" valign="middle">
                            <h2 style="color: white; background: #54ba4e; padding: 15px; text-align: center;">Projects</h2>
                            <ul>
                            {% for project in projects %}
                            {% if project.status == 1 %}
                                <li style="color: black;"><a href="{% url 'todo_details' slug=project.slug %}">{{ project.title }} 計画中</a></li>
                            {% endif %}
                            {% if project.status == 2 %}
                                <li style="color: black;"><a href="{% url 'todo_details' slug=project.slug %}">{{ project.title }} 進行中</a></li>
                            {% endif %}
                            {% if project.status == 3 %}
                                <li style="color: black;"><a href="{% url 'todo_details' slug=project.slug %}">{{ project.title }} 実装済</a></li>
                            {% endif %}
                            {% endfor %}
                            </ul> 
                            <p style="padding: 15px; align: right;"><a role="button" href="{% url 'todo_list'%}" style="color: blue;" style="align: right;">All Projects<i class="fa fa-angle-double-right" aria-hidden="true" style="color: blue;"></i></a></p>
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->

                <aside class="info aside section">
                    <div style="background: white; align = center; font-size: 16px" valign="middle">
                            <h2 style="color: white; background: #54ba4e; padding: 15px; text-align: center;">All Tags</h2>
                            <ul>
                            {% for tag in tags %}
                                {% if forloop.counter0 < 5 %}
                                <li style="color: black;"><a href="?tag_param={{tag.name}}">{{ tag }}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            <p style="padding: 15px; align: right;"><a role="button" href="{% url 'tag_list'%}" style="color: blue;" style="align: right;">All Tags<i class="fa fa-angle-double-right" aria-hidden="true" style="color: blue;"></i></a></p>
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->

                <aside class="info aside section">
                    <div style="background: white; align = center; font-size: 16px" valign="middle">
                            <h2 style="color: white; background: #54ba4e; padding: 15px; text-align: center;">Recent Events</h2>
                            <ul>
                            {% for event in events %}
                                <li style="color: black;"><a href="{% url 'event_list'%}">{{ event.name }}</a></li>
                            {% endfor %}
                            </ul>
                            <p style="padding: 15px; align: right;"><a role="button" href="{% url 'event_list'%}" style="color: blue;" style="align: right;">All Events<i class="fa fa-angle-double-right" aria-hidden="true" style="color: blue;"></i></a></p>
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->

                <aside class="info aside section">
                    <div style="background: white; align = center; font-size: 16px" valign="middle">
                        <h2 style="color: white; background: #54ba4e; padding: 15px; text-align: center;">Reference</h2>
                        <ul>
                        {% for ref in refs %}
                            <li style="color: black;"><a id="{{ref.name}}" href="{{ ref.url }}">{{ ref.name }}</a></li>
                        {% endfor %}
                        </ul>
                        <p style="padding: 15px; align: right;"><a role="button" href="{% url 'reference_list'%}" style="color: blue;" style="align: right;">All References<i class="fa fa-angle-double-right" aria-hidden="true" style="color: blue;"></i></a></p>
                    </div><!--//section-inner-->                   
                </aside><!--//aside-->
 
                <aside class="info aside section">
                    <div style="background: white; align = center; text-align: center; " valign="middle">
                        <h2 style="color: white; background: #54ba4e; padding: 15px; text-align: center;">Visited</h2>
                        <div style="text-align: left; align: center;text-align: center; padding: 15px;">
                             <script type="text/javascript">
                            textNumbersToImages("{{count}}")
                            function textNumbersToImages(text) {
                                    var output = '';
                                    var images = ['0.png', '1.png', '2.png', '3.png', 
                                        '4.png', '5.png', '6.png', '7.png', '8.png', '9.png'];
                                    var nums = text.replace(/\D/g, ''); 
                                    for (var i=0; i < nums.length; i++) {
                             output += '<img width="40" height="40" src="/static/images/number/'+images[nums.charAt(i)]+'">'
                                    }
                                    document.write(output);
                            };
                            </script>

                        </div>                           
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->

            </div><!--//secondary-->    
        </div><!--//row-->
        <!--page tag-->
        <div class="row1">
            <p><font style="color: black;"><b>Pages:</b></font></p>
            {% for item in pagination %}
            <a class="btn btn-sm btn-primary" 
            {%if genre%}
                href="?genre={{genre}}&page={{ item }}"
            {% else %}
                href="?page={{ item }}"
            {% endif %}

             onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" style="color:white; text-decoration: none; background: #54ba4e;"><font size="2" style="font-weight: bold; ">Page {{ item }}</font></a>
            {% endfor %}
        </div>
    </div><!--//masonry-->
{% endblock %}