{% load markdown_deux_tags %}
<html>
	<head>
		<title>{{ object.title }}</title>
	</head>
	<body>
		<h2>{{ object.title }}</h2>
		<h3>{{ object.author.first_name }} {{ object.author.last_name }}</h3>
		<h3>{{ object.publishing_date|date:'Y-m-d H:i' }}</h3>
		    <hr/>
		<p>{{ object.body|safe|escape|markdown:"STYLE" }}</p>

		<b>Tags:</b>
		<p>
		{% for item in object.tags.all %}
		    {{ item }},
		{% endfor %}
		</p>

		<p>
			{% markdown STYLE %}        {# can omit "STYLE" to use the "default" style #}
			This is some **cool**
			[Markdown](http://daringfireball.net/projects/markdown/)
			text here.
			{% endmarkdown %}
</p>
	</body>
</html>